    <h1>Add a new post</h1>
    
    <form action="/posts/create" method="post">
      <div class="form-group">
        <label for="post_title">Title</label>
        <input type="text" class="form-control <%= errors.title ? 'is-invalid' : '' %>" name="title" id="post_title" value="<%= post.title %>">
        <div class="invalid-feedback"><%= (errors.title || {}).message%></div>
      </div>
        <div class="form-group">
        <label for="post_author">Author</label>
        <input type="text" class="form-control <%= errors.author ? 'is-invalid' : '' %>" name="author" id="post_author" value="<%= post.author %>">
        <div class="invalid-feedback"><%= (errors.author || {}).message%></div>
      </div>
        <div class="form-group">
        <label for="post_title">Summary</label>
        <input type="text" class="form-control <%= errors.summary ? 'is-invalid' : '' %>" name="summary" id="post_summary" value="<%= post.summary %>">
        <div class="invalid-feedback"><%= (errors.summary || {}).message%></div>
      </div>
      <div class="form-group">
        <label for="post_body">Body</label>
        <textarea class="form-control <%= errors.body ? 'is-invalid' : '' %>" id="post_body" name="body" rows="3"><%= post.body %></textarea>
        <div class="invalid-feedback"><%= (errors.body || {}).message%></div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>